@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");

.VirusData {
	font-family: "Pangolin", cursive;
	text-align: center;
	border-top: 1px #d9c5b2 solid;
	padding-top: 30px;
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	justify-content: center;
}
.AlertHidden {
	height: 30px;
	position: absolute;
	left: -999em;
	padding-bottom: 5px;
}
.AlertVisible {
	height: 30px;
	position: absolute;
	left: 0;
	padding-bottom: 5px;
}
.VirusDataWrapper {
	width: 80%;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.VirusDataWrapper input,
.VirusDataWrapper button {
	width: 200px;
	height: 40px;
	border: 1px #34312d solid;
	box-sizing: border-box;
	border-radius: 4px;
	padding-left: 10px;
	margin-right: 10px;
}
button {
	width: 200px;
	height: 40px;
	border: 1px #34312d solid;
	box-sizing: border-box;
	border-radius: 4px;
	padding-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
	cursor: pointer;
}
button:hover {
	background-color: #005cb2;
	color: white;
}
